{% extends 'base.html' %}

{% load static %}

{% block title %} Présentation Algocate {% endblock %}

{% block content %}


<h5>Expérimentation de l'outil de justifications d'algorithme "Algocate"</h5>
    <br>

<div class="card">
  <div class="card-body">
  <h5>Mise en situation</h5>

  <p align="justify">
    Ici, vous vous intéressez à vérifier s’il y a adéquation entre le fonctionnement de l’algorithme
      tel que présenté par les responsables de la société à l’occasion du contrôle et son comportement réel.
  </p>
  <p align="justify">
    En reprenant le Procès-Verbal du contrôle, vous relevez cette déclaration du responsable technique
      de la société : « […] Avons pris connaissance par Charles X, responsable technique de la société
      « Mon crédit auto », que l’algorithme d’aide à la décision pour l’octroi de crédit se base sur trois
      "normes" pour fonctionner :
  </p>
  <ol>
    <li>
        NORME 1 : Règle métier d'exclusion des demandes ayant été deux fois en défaut dans les 6 derniers mois
        <br>
        Afin de minimiser les risques de défauts et de surendettement,
        les personnes ayant été au moins deux fois en défaut de crédit dans les 6 derniers mois sont systématiquement refusées.
    </li>
    <li>
        NORME 2 : Règle métier pour l'acquisition de nouveaux clients
        <br>
        Afin de faciliter l'accès au marché de nouveaux clients,
        les personnes demandant un crédit pour la première fois sont acceptées quel que soit les caractéristiques
        de leur demande, à la seule condition que le prix du véhicule soit faible (<=55 000).
    </li>
    <li>
        NORME 3 : objectif de minimisation des risques de défaut
        <br>
        Les risques de défaut de crédit doivent être minimisés.
        Une base historique de demandes de crédit est utilisée pour estimer
        les risques de défaut d'une nouvelle demande.
    </li>
    </ol>
  <p align="justify">
    En cas de conflits, un système de hiérarchie permet de trancher.
      Ainsi, la norme 1 est prioritaire par rapport à la norme 2, elle-même prioritaire par rapport à la norme 3. […] »
  </p>
  <p align="justify">
    A l’aide de l’outil Algocate, vous êtes invité à confronter ces assertions au fonctionnement en situation de
      l’algorithme et à vérifier si ces règles sont correctement mises en application.
      Vous en tirerez ensuite des conclusions sur les suites à donner à ce contrôle.
  </p>
  </div>
</div>

<br>

<p class="font-weight-bold">Algocate</p>

<p align="justify">
    Algocate (concatenation de <i>"algorithm"</i> et <i>"advocate"</i>) est un système
    de justifications d’algorithme.
    À la différence d’une explication, dont le but est de faire
    comprendre le fonctionnement de l’algorithme, une justification
    tente de convaincre que la décision est bonne.
    Pour porter ce jugement, l’outil repose sur un ensemble de <i>normes</i>
    qui peuvent être employées pour justifier une décision
    (si le système respecte effectivement les normes affichées) ou pour
    la contester (si le système ne les respecte pas).
    L'outil Algocate adopte une posture neutre en tentant à la fois de
    contester et de justifier les décisions.
</p>
<br>


<h5>En pratique</h5>

<p class="font-weight-bold">Affirmation</p>

<p align="justify">
    Algocate fonctionne selon un système d'affirmation.
    Pour obtenir une justification, il faut d'abord que vous
    défendiez une décision ("décision attendue").
    Pour les besoins de l'exercice,
    placez-vous dans une situation où vous souhaitez contester la décision.
    En pratique, vous devrez donner les raisons qui laissent penser
    que la décision est mauvaise en vous appuyant sur les éléments du dossier.
    Par exemple, une personne dont la demande a été refusée pourrait objecter de la
    manière suivante : "Je pense que ma demande devrait être acceptée car
    c'est ma première demande de crédit ("Nb crédits <= 0") et qu'il s'agit
    d'un montant faible ("Prix du véhicule <= 55 000")". Il faut évidemment que la demande
    vérifie ces conditions !
    Sur l'interface d'Algocate, cette affirmation prend la forme suivante :
</p>
    <br>

<img src="{% static 'img/example_algocate.png' %}" class="img-fluid img-thumbnail" alt="Responsive image">
    <br>
    <br>

<p class="font-weight-bold">Justification</p>

<p align="justify">
    Algocate analyse cette affirmation au regard des normes affichées par
    la société.
    Dans cette situation, la réponse suivante est proposée :
</p>

<img src="{% static 'img/justification_example.png' %}" class="img-fluid img-thumbnail" alt="Responsive image">
    <br>
    <br>

<p align="justify">
    Le premier paragraphe synthétise l'affirmation.
    Dans le paragraphe suivant, une norme est invoquée
    pour contester la décision. Seule la norme ayant la plus haute priorité est affichée.
    Ici, la NORME 2 est invoquée en premier lieu. Elle justifie
    que la demande soit acceptée.
</p>

<p align="justify">
    Parfois, les conditions invoquées dans la contestation ne
    suffisent pas pour trancher, ou omettent certains aspects
    important de la décision. Dans ce cas, des conditions supplémentaires
    peuvent être ajoutées automatiquement par Algocate.
</p>

{% if user.subject %}
    {% include "next_step_button_ibex.html" %}
    <br>
    <br>
    {% include "next_step_button_algocate.html" %}
{% else %}
    <a class="btn btn-primary btn-lg" href="{% url "welcome_page" %}">
        Commencer
    </a>
{% endif %}

{% endblock %}
