{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">

<h3>Questionnaire final sur Algocate</h3>

<div class="card">
  <div class="card-header">
    <h5 class="card-title">Vos réponses</h5>
  </div>
  <div class="card-body">
    <form method="post">
    {% csrf_token %}
    <div id='form-errors'>{{ algocate_final_form_errors }}</div>
        {{ algocate_final_form | crispy }}
        <button type="submit" class="btn btn-primary btn-large" name="algocate_final_form">Soumettre la réponse</button>
    </form>
  </div>

  </div>
</div>

{% endblock %}



