{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h5 id="headings">Exercice Algocate ({{ request.user.taskalgocate_set.count }} / 6)</h5>

<p>
    Veuillez répondre aux questions en bas de la page en vous appuyant sur
    l'outil Algocate pour justifier vos choix.
    Les aides sont disponibles à tout moment via les liens en tête de page,
    vous pourrez revenir à l'exercice en cours.
</p>

<div class="container">

    <h3>Décision</h3>

    {% include "decision_box.html" %}

    <h3>Justifications</h3>

    {{ justification_text|safe }}

    {% include "algocate_value_box.html" %}

    <br>
    <br>
    <h3>Questionnaire</h3>

    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Votre réponse</h5>
      </div>
      <div class="card-body">
        <form method="post">
        {% csrf_token %}
        <div id='form-errors'>{{ algocate_task_form_errors }}</div>
            {{ algocate_task_form | crispy }}
            <button type="submit" class="btn btn-primary" name="algocate_task_form">Soumettre la réponse</button>
        </form>
      </div>
    </div>

<br>
<br>

<div class="card">
  <div class="card-body">
  <h5> Rappel des normes </h5>

  <ol>
    <li>
        NORME 1 : Règle métier d'exclusion des demandes ayant été deux fois en défaut dans les 6 derniers mois
        <br>
        Afin de minimiser les risques de défauts et de surendettement,
        les personnes ayant été au moins deux fois en défaut de crédit dans les 6 derniers mois sont systématiquement refusées.
    </li>
    <li>
        NORME 2 : Règle métier pour l'acquisition de nouveaux clients
        <br>
        Afin de faciliter l'accès au marché de nouveaux clients,
        les personnes demandant un crédit pour la première fois sont acceptées quel que soit les caractéristiques
        de leur demande, à la seule condition que le montant du crédit soit faible (<=55 000).
    </li>
    <li>
        NORME 3 : objectif de minimisation des risques de défaut
        <br>
        Les risques de défaut de crédit doivent être minimisés.
        Une base historique de demandes de crédit est utilisée pour estimer
        les risques de défaut d'une nouvelle demande.
    </li>
    </ol>
  </div>
</div>

</div>

{% endblock %}


