{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h5 id="headings">Exemple d'utilisation d'Algocate ({{ request.user.algocateexample_set.count }} / 2)</h5>


<p align="justify">
    Au cours de l'expérimentation, vous serez confronté à un certain nombre d'"exercices".
    Ces exercices font référence à des décisions spécifiques qui vous seront présentées
    sous la forme des tableaux présentés précédement.
    En plus des variables, vous aurez accès au système de justification Algocate.
    <br>
    Dans un premier temps, vous pouvez profiter de quelques exemples pour
    vous familiariser avec l'outil et tester les réponses d'Algocate.
</p>


<div class="container">

    <h3>Décision</h3>

    {% include "decision_box.html" %}

    <h3>Justifications</h3>

    {{ justification_text|safe }}

    {% include "algocate_value_box.html" %}

    <form method="post" action="{% url 'algocate_example' %}">
      {% csrf_token %}
      <button class="btn btn-primary btn-lg btn-block" type="submit" name="next_example"> Exemple suivant </button>
    </form>


    <br>
    <br>

    <div class="card">
      <div class="card-body">
      <h5> Rappel des normes </h5>

      <ol>
        <li>
            NORME 1 : Règle métier d'exclusion des demandes ayant été deux fois en défaut dans les 6 derniers mois
            <br>
            Afin de minimiser les risques de défauts et de surendettement,
            les personnes ayant été au moins deux fois en défaut de crédit dans les 6 derniers mois sont systématiquement refusées.
        </li>
        <li>
            NORME 2 : Règle métier pour l'acquisition de nouveaux clients
            <br>
            Afin de faciliter l'accès au marché de nouveaux clients,
            les personnes demandant un crédit pour la première fois sont acceptées quel que soit les caractéristiques
            de leur demande, à la seule condition que le montant du crédit soit faible (<=55 000).
        </li>
        <li>
            NORME 3 : objectif de minimisation des risques de défaut
            <br>
            Les risques de défaut de crédit doivent être minimisés.
            Une base historique de demandes de crédit est utilisée pour estimer
            les risques de défaut d'une nouvelle demande.
        </li>
        </ol>
      </div>
    </div>

</div>

{% endblock %}


