{% load crispy_forms_tags %}

<div class="card">
<div class="card-header">
<h5 class="card-title" id="exampleModalLabel">Algocate</h5>
</div>
<div class="card-body">
<form method="post">
    {% csrf_token %}
<div id='form-errors'>{{ form_errors }}</div>
<div>
{% csrf_token %}
    <div class="form-row">
    <div class="form-group col-md-7 mb-0">
        Je pense que la demande devrait être :
    </div>
        <div class="form-group col-md-5 mb-0">
        {{ algocate_contest_form.y_true_value|as_crispy_field }}
      </div>
    </div>
    <p>au vu des éléments suivants de la demande</p>
    <div class="form-row">
      <div class="form-group col-md-5 mb-0">
        <h6>Élément du dossier</h6>
      </div>
      <div class="form-group col-md-5 mb-0" align="right">
        <h6>Valeur</h6>
      </div>
    </div>
{#<div class="form-row">#}
{#  <div class="form-group col-md-3 mb-0">#}
{#    {{ algocate_contest_form.disbursed_amount_operator.label }} <br> ({{ file.disbursed_amount }})#}
{#  </div>#}
{#  <div class="form-group col-md-4 mb-0">#}
{#    {{ algocate_contest_form.disbursed_amount_operator|as_crispy_field }}#}
{#  </div>#}
{#  <div class="form-group col-md-5 mb-0">#}
{#    {{ algocate_contest_form.disbursed_amount_value|as_crispy_field }}#}
{#  </div>#}
{#</div>#}
<div class="form-row">
<div class="form-group col-md-3 mb-0">
    {{ algocate_contest_form.asset_cost_operator.label }} <br> ({{ file.asset_cost }})
</div>
    <div class="form-group col-md-4 mb-0">
    {{ algocate_contest_form.asset_cost_operator|as_crispy_field }}
</div>
    <div class="form-group col-md-5 mb-0">
    {{ algocate_contest_form.asset_cost_value|as_crispy_field }}
  </div>
</div>
<div class="form-row">
<div class="form-group col-md-3 mb-0">
    {{ algocate_contest_form.contrib_percentage_operator.label }} <br> ({{ file.contrib_percentage }})
</div>
    <div class="form-group col-md-4 mb-0">
    {{ algocate_contest_form.contrib_percentage_operator|as_crispy_field }}
</div>
    <div class="form-group col-md-5 mb-0">
    {{ algocate_contest_form.contrib_percentage_value|as_crispy_field }}
  </div>
</div>
<div class="form-row">
<div class="form-group col-md-3 mb-0">
    {{ algocate_contest_form.employment_type_operator.label }} <br> ({{ file.employment_type }})
</div>
    <div class="form-group col-md-4 mb-0">
    {{ algocate_contest_form.employment_type_operator|as_crispy_field }}
</div>
    <div class="form-group col-md-5 mb-0">
    {{ algocate_contest_form.employment_type_value|as_crispy_field }}
  </div>
</div>
<div class="form-row">
<div class="form-group col-md-3 mb-0">
    {{ algocate_contest_form.pri_no_of_accts_operator.label }} <br> ({{ file.pri_no_of_accts }})
</div>
    <div class="form-group col-md-4 mb-0">
    {{ algocate_contest_form.pri_no_of_accts_operator|as_crispy_field }}
</div>
    <div class="form-group col-md-5 mb-0">
    {{ algocate_contest_form.pri_no_of_accts_value|as_crispy_field }}
  </div>
</div>
<div class="form-row">
<div class="form-group col-md-3 mb-0">
    {{ algocate_contest_form.pri_active_accts_operator.label }} <br> ({{ file.pri_active_accts }})
</div>
    <div class="form-group col-md-4 mb-0">
    {{ algocate_contest_form.pri_active_accts_operator|as_crispy_field }}
</div>
    <div class="form-group col-md-5 mb-0">
    {{ algocate_contest_form.pri_active_accts_value|as_crispy_field }}
  </div>
</div>
<div class="form-row">
<div class="form-group col-md-3 mb-0">
    {{ algocate_contest_form.pri_overdue_accts_operator.label }} <br> ({{ file.pri_overdue_accts }})
</div>
    <div class="form-group col-md-4 mb-0">
    {{ algocate_contest_form.pri_overdue_accts_operator|as_crispy_field }}
</div>
    <div class="form-group col-md-5 mb-0">
    {{ algocate_contest_form.pri_overdue_accts_value|as_crispy_field }}
  </div>
</div>
<div class="form-row">
<div class="form-group col-md-3 mb-0">
    {{ algocate_contest_form.pri_current_balance_operator.label }} <br> ({{ file.pri_current_balance }})
</div>
    <div class="form-group col-md-4 mb-0">
    {{ algocate_contest_form.pri_current_balance_operator|as_crispy_field }}
</div>
    <div class="form-group col-md-5 mb-0">
    {{ algocate_contest_form.pri_current_balance_value|as_crispy_field }}
  </div>
</div>
<div class="form-row">
<div class="form-group col-md-3 mb-0">
    {{ algocate_contest_form.primary_instal_amt_operator.label }} <br> ({{ file.primary_instal_amt }})
</div>
    <div class="form-group col-md-4 mb-0">
    {{ algocate_contest_form.primary_instal_amt_operator|as_crispy_field }}
</div>
    <div class="form-group col-md-5 mb-0">
    {{ algocate_contest_form.primary_instal_amt_value|as_crispy_field }}
  </div>
</div>
<div class="form-row">
<div class="form-group col-md-3 mb-0">
    {{ algocate_contest_form.new_accts_in_last_six_months_operator.label }} <br> ({{ file.new_accts_in_last_six_months }})
</div>
    <div class="form-group col-md-4 mb-0">
    {{ algocate_contest_form.new_accts_in_last_six_months_operator|as_crispy_field }}
</div>
    <div class="form-group col-md-5 mb-0">
    {{ algocate_contest_form.new_accts_in_last_six_months_value|as_crispy_field }}
  </div>
</div>
<div class="form-row">
<div class="form-group col-md-3 mb-0">
    {{ algocate_contest_form.delinquent_accts_in_last_six_months_operator.label }} <br> ({{ file.delinquent_accts_in_last_six_months }})
</div>
    <div class="form-group col-md-4 mb-0">
    {{ algocate_contest_form.delinquent_accts_in_last_six_months_operator|as_crispy_field }}
</div>
    <div class="form-group col-md-5 mb-0">
    {{ algocate_contest_form.delinquent_accts_in_last_six_months_value|as_crispy_field }}
  </div>
</div>
<div class="form-row">
<div class="form-group col-md-3 mb-0">
    {{ algocate_contest_form.average_acct_age_operator.label }} <br> ({{ file.average_acct_age }})
</div>
    <div class="form-group col-md-4 mb-0">
    {{ algocate_contest_form.average_acct_age_operator|as_crispy_field }}
</div>
    <div class="form-group col-md-5 mb-0">
    {{ algocate_contest_form.average_acct_age_value|as_crispy_field }}
  </div>
</div>
<div class="form-row">
<div class="form-group col-md-3 mb-0">
    {{ algocate_contest_form.credit_history_length_operator.label }} <br> ({{ file.credit_history_length }})
</div>
    <div class="form-group col-md-4 mb-0">
    {{ algocate_contest_form.credit_history_length_operator|as_crispy_field }}
</div>
    <div class="form-group col-md-5 mb-0">
    {{ algocate_contest_form.credit_history_length_value|as_crispy_field }}
  </div>
</div>
<div class="form-row">
<div class="form-group col-md-3 mb-0">
    {{ algocate_contest_form.no_of_inquiries_operator.label }} <br> ({{ file.no_of_inquiries }})
</div>
    <div class="form-group col-md-4 mb-0">
    {{ algocate_contest_form.no_of_inquiries_operator|as_crispy_field }}
</div>
    <div class="form-group col-md-5 mb-0">
    {{ algocate_contest_form.no_of_inquiries_value|as_crispy_field }}
  </div>
</div>
<div class="form-row">
<div class="form-group col-md-3 mb-0">
    {{ algocate_contest_form.age_operator.label }} <br> ({{ file.age }})
</div>
    <div class="form-group col-md-4 mb-0">
    {{ algocate_contest_form.age_operator|as_crispy_field }}
</div>
    <div class="form-group col-md-5 mb-0">
    {{ algocate_contest_form.age_value|as_crispy_field }}
  </div>
</div>

</div>
    <button type="submit" class="btn btn-primary" name="contest_form">Lancer Algocate</button>
</form>
</div>
</div>
