{% extends 'base.html' %}

{% load static %}

{% block title %} Choix de l'outil {% endblock %}

{% block content %}


<h5>Choix de  l'outil à tester : IBEX ou Algocate </h5>
    <br>

<p class="font-weight-bold">IBEX</p>

<p align="justify">
    IBEX (<i>Interactive Black-box EXplanation</i>) est un système d'explication d'algorithme en mode boite noire.
    Sa particularité est de permettre à l'utilisateur de caractériser le type
    d'explications qu'il souhaite obtenir.
    Cette liberté laissée à l'utilisateur doit permettre au système
    de fournir une explication appropriée à une variété de situations et d'utilisateurs.
</p>

<br>

{% if user.subject %}
    <a class="btn btn-primary btn-lg" href="{% url "ibex_presentation" %}">
       Je teste IBEX
    </a>
{% else %}
    <a class="btn btn-primary btn-lg" href="{% url "welcome_page" %}">
        Commencer
    </a>
{% endif %}

<br>
<br>

<p class="font-weight-bold">Algocate</p>

<p align="justify">
    Algocate (concatenation de <i>"algorithm"</i> et <i>"advocate"</i>) est un système
    de justifications d’algorithme.
    À la différence d’une explication, dont le but est de faire
    comprendre le fonctionnement de l’algorithme, une justification
    tente de convaincre que la décision est bonne.
    Pour porter ce jugement, l’outil repose sur un ensemble de <i>normes</i>
    qui peuvent être employées pour justifier une décision
    (si le système respecte effectivement les normes affichées) ou pour
    la contester (si le système ne les respecte pas).
    L'outil Algocate adopte une posture neutre en tentant à la fois de
    contester et de justifier les décisions.
</p>

<br>

{% if user.subject %}
    <a class="btn btn-primary btn-lg" href="{% url "algocate_presentation" %}">
       Je teste Algocate
    </a>
{% else %}
    <a class="btn btn-primary btn-lg" href="{% url "welcome_page" %}">
        Commencer
    </a>
{% endif %}

<br>
<br>

<p align="justify">
    Vous ne savez pas quoi choisir ? <br>
    Commencer par tester IBEX, les explications sur l'algorithme vous
    donneront des connaissances utiles pour tester les justifications
    d'Algocate.<br>
    Noter que vous pouvez à tout moment changer pour grâce
    aux liens situés en haut à droit de l'écran.
</p>



{% endblock %}
