{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Recueil du consentement {% endblock %}

{% block content %}

<h5 id="headings"> Collecte et traitement des données </h5>

<div class="container">

<p align="justify">
    Algaudit est un projet mis en œuvre conjointement par la CNIL et Inria.
    Il a pour but d’évaluer la pertinence d’outils d’explication et de justification d'algorithmique.
    La participation à cette expérimentation suppose de recueillir le consentement des personnes
    volontaires pour le traitement de leurs données dans le cadre de ce travail de recherche exploratoire.
</p>

<div class="card"><div class="card-body">
<p align="justify">
    Je m’engage à suivre les instructions qui me sont transmises.
    Je prends note que je peux à tout moment contacter un membre de
    l’équipe responsable du projet Algaudit — constituée de Clément Henin (clement.henin@inria.fr) et
    Félicien Vallet (fvallet@cnil.fr) — pour obtenir des informations et éclaircissements
    sur l’expérimentation, pendant ou après avoir participer à celle-ci.
    J’accepte que certaines de mes données personnelles soient collectées et
    traitées de façon non-nominative (c’est-à-dire non directement identifiantes)
    et plus spécifiquement :
</p>
<ul>
    <li>Mes réponses aux questions qui me seront posées ;</li>
    <li>Mes interactions sur le site web (boutons cliqués, horodatage des actions,
        navigation, etc.) ;</li>
</ul>
<p align="justify">
    J’accepte que ces données soient conservées pour la durée du projet Algaudit,
    à savoir au maximum 3 ans.
</p>

<p align="justify">
    Je note que des cookies sont déposés sur ce site pour les seuls besoins du
    fonctionnement de l’expérimentation.
</p>

<p align="justify">
    Je relève qu’un numéro personnel sera accessible tout au long de l'expérimentation
    (après consentement) dans le pied de page et qu’il m’appartient de
    le conserver afin d’exercer à tout moment mes droits auprès du délégué à
    la protection des données d’Inria, Anne Combe (anne.combe@inria.fr) et notamment :
</p>

<ul>
    <li>
        exercer mon droit d’accès à l’ensemble des données personnelles me
        concernant conservées par la CNIL et Inria pendant et à l’échéance du projet ;
    </li>
    <li>
        exercer mon droit de retrait du consentement en choisissant d’interrompre
        la démarche de participation à l’expérimentation et en demandant l’effacement
        de toutes les données personnelles me concernant conservées par la CNIL et Inria.
    </li>
</ul>

<p align="justify">
    Je prends note qu’à l’issue de l’expérimentation, je suis libre de laisser mes
    coordonnées (adresse mail) afin de réaliser des entretiens complémentaires.
    Je relève que je peux accéder à ces informations à tout moment dans le menu figurant en haut à droite.
</p>
</div></div>

{% if not request.user.is_authenticated %}
    <p align="justify">
    Ayant pris connaissance de ces informations,
    </p>
      <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-lg btn-block" name="start">
          J’accepte et débute l’expérimentation
        </button>
      </form>
    <br>
    <br>
    <a class="btn btn-primary btn-lg btn-block" href="https://www.cnil.fr">Je refuse et quitte l’expérimentation</a>
{% else %}
    <br>
    <br>
    {% include "next_step_button_ibex.html" %}
    <br>
    <br>
    {% include "next_step_button_algocate.html" %}
{% endif %}

    </div>
{% endblock %}


