{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h5 id="headings">Résumé des exemples de décision </h5>

<div class="container">

<p align="justify">
    Tous les exemples qui vous ont été présentés sont regroupés dans le tableau
    ci-dessous pour permettre une comparaison.
</p>

<br>

{{ div|safe }}

<a href="{% url 'choose_tool' %}" class="btn btn-primary btn-lg"> Continuer </a>

</div>
{% endblock %}

