<div class="row py-2" >
    <div class="col">
    <table class="table table-sm table-bordered" style="max-width:400px">
      <thead>
        <tr>
          <th scope="col">Variable</th>
          <th scope="col">Valeur</th>
        </tr>
      </thead>
      <tbody>
      {% for key, val in sample.items %}
          {% if key != "Décision" and key != "y_true" %}
            <tr>
              <th scope="row"> {{ key }} </th>
              <td> {{ val }} </td>
            </tr>
          {% endif %}
      {% endfor %}
      </tbody>
    </table>
    </div>
    <div class="col">
        {% if sample_output == 1 %}
        <div class="d-flex justify-content-center">
            <p>
            <h6> Demande de crédit acceptée</h6>
            </p>
        </div>
        <div class="d-flex justify-content-center">
            <p>
                <i class="fa fa-check-circle" style="font-size:100px; color:#00cc66;" aria-hidden="true"></i>
            </p>
        </div>
        {% elif sample_output == 0 %}
        <div class="d-flex justify-content-center">
            <p>
            <h6> Demande de crédit refusée</h6>
            </p>
        </div>
        <div class="d-flex justify-content-center">
            <p>
                <i class="fa fa-times-circle" style="font-size:100px; color:#cc0000;" aria-hidden="true"></i>
            </p>
        </div>
        {% else %}
            !!! INVALID DECISION OUTPUT :  {{ sample_output }}
        {% endif %}
    </div>
</div>
