{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h5 id="headings">Exemple de décision ({{ request.user.decisionexample_set.count }} / 5) </h5>

<div class="container">

<p align="justify">
    Au cours de l'expérimentation, les décisions prennent la forme suivante. Le tableau de gauche présente
    la valeur des variables de la demande de crédit et la partie droite indique si la demande a été acceptée ou
    refusée.
    <br>
    Cinq exemples de décision vous sont proposés. À ce stade, vous pouvez déjà tenter d'établir un lien
    entre les variables d'entrée et les décisions.
</p>

{% include "decision_box.html" %}

<form method="post" action="{% url 'decision_example' %}">
  {% csrf_token %}
  <button class="btn btn-primary btn-lg btn-block" type="submit" name="next_example"> Exemple suivant </button>
</form>

</div>
{% endblock %}

