{% load crispy_forms_tags %}

<div class="card">
<div class="card-header">
  <ul class="nav nav-tabs card-header-tabs" id="tool-choice" role="tablist">
    <li class="nav-item">
      <a class="nav-link {% if not request.user.subject.control_grp and not calc_tab%}active{% endif %}" href="#ibex" role="tab" aria-controls="ibex">
          IBEX
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.user.subject.control_grp or calc_tab %}active{% endif %}"  href="#calc" role="tab" aria-controls="calc">
          Calculette
      </a>
    </li>
  </ul>
</div>

<div class="card-body">
{#  <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>#}
   <div class="tab-content mt-3">
    <div class="tab-pane {% if not request.user.subject.control_grp and not calc_tab %}active{% endif %}" id="ibex" role="tabpanel">
    <h4 class="card-title">IBEX</h4>
      <div class="row">
          {% if request.user.subject.control_grp %}
            <div class="alert alert-warning" role="alert">
              Vous faites parti du groupe contrôle et n'avez pas accès à IBEX.
              Vous pouvez simuler l'algorithme de crédit grâce à la "Calculette".
            </div>
          {% else %}
            <div class="col-3">
              Choix de l'explication
              <form method="post">
                {% csrf_token %}
                {{ requirement_form|crispy }}
                <button class="btn btn-primary" type="submit" name="requirement_form">Afficher l'explication</button>
              </form>
            </div>
            <div class="col-9">
              {% if explanation_type == "FImportanceExplanation" %}
                  {{ div|safe }}
                  <p>
                    <b>Aide : </b>
                      <br>
                    Les barres verticales représentent les importances relatives
                    de chaque variable dans la décision finale.
                    Une longue barre verte signifie que la valeur de la variable
                    a un fort impact positif sur la classification (dans le sens
                    d'une acceptation) et inversement pour une barre orange.
                    Pour obtenir cette explication, IBEX compare cette situation à des situations similaires et affiche
                    les variables qui expliquent le mieux les différences observées. <br>
                    Ex: si la variable "Montant" a un fort impact positif, alors cela signifie que la valeur de cette
                    variable dans la demande est souvent associée à des demandes acceptées dans les situations similaires.<br>
                    {% if realism == '2' %}
                      Vous consultez une explication "Focus utilisation". Les situations analysées sont donc des
                      situations réelles et les variables corrélées aux variables les plus influentes
                      doivent aussi apparaître comme importantes.
                    {% elif realism == '1' %}
                      Vous consultez une explication "Focus Algorithme", les situations analysées sont des situations
                      fictives générées à partir des données réelles. Une variable correlée à une variable influente ne doit pas
                      apparaître comme importante.
                    {% endif %}
                  </p>
              {% elif explanation_type == "RBMExplanation" %}
                <div class="container">

                  <h5>Explication sous forme de règles : </h5>
                  <div class="d-flex flex-row p-2">
                  <div class="col-8 p-4 border" align="center">
                     {% for rule_ in rules %}
                       {% if forloop.revcounter > 1 %}
                         {{ rule_ }} et <br>
                       {% else %}
                         {{ rule_ }}
                       {% endif %}
                     {% endfor %}
                    </div>
                    <div class="col-auto my-auto">
                        <div class="d-inline-flex p-4">
                            <i class="fa fa-arrow-right my-auto" aria-hidden="true" style="font-size: 30px;"></i>
                        </div>
                    </div>
                    <div class="col-auto my-auto">
                        <div class="d-inline-flex p-4 my-auto">
                            <span style="font-size: 20px;">
                                {{ rule_decision|title }}
                            </span>
                        </div>
                    </div>
                  </div>
                  <p>
                      Cette règle est vérifiée à {{ generality }} sur les 10 000 exemples les plus proches
                      du cas en question dans la base des décisions historiques.
                  </p>
                  <p>
                    <b>Aide : </b>
                      <br>
                      Les règles ci-dessus cherchent à décrire, en utilisant le moins de règles possible, le plus grand
                      ensemble de décisions obtenant la même sortie que la demande considérée.
                      Pour trouver ces règles, IBEX analyse des demandes ayant des caractéristiques proches.
                      <br>
                    {% if realism == '2' %}
                      Vous consultez une explication "Focus utilisation". Les situations analysées sont donc des
                      situations réelles et les variables corrélées aux variables les plus influentes
                      doivent aussi apparaître.
                    {% elif realism == '1' %}
                      Vous consultez une explication "Focus Algorithme", les situations analysées sont des situations
                      générées à partir des données réelles. Une variable correlée à une variable influente ne doit pas
                      apparaître.
                    {% endif %}
                  </p>
                </div>
              {% elif explanation_type == "CFactualExplanation" %}
                  {% if realism == '1' %}
                  <div class="container">
                      <h5>Explication sous forme de contrefactuelles : </h5>
                      <p>La demande de crédit pour le cas en question est actuellement <u>{{ sample_decision_text }}</u>. </p>
                      {% for counterfact in counterfact_list %}
                        <p><b>Contrefactuelle {{ forloop.counter }}</b></p>
                        <p>
                          Si {% for col, new_val in counterfact.items %}
                              {% if forloop.revcounter0 == 1 %}
                                 {{ col }} valait {{ new_val }} et
                              {% else %}
                                  {{ col }} valait {{ new_val }},
                              {% endif %}
                          {% endfor %}
                          alors la demande de crédit serait <u>{{ cf_decision_text }}</u>.
                        </p>
                      {% endfor %}
                  <p>
                    <b>Aide : </b>
                      <br>
                      L'explication sous forme de contrefactuelle donne les modifications
                      minimales suffisantes pour changer la décision du système.
                      La notion de "modification minimale" fait référence à une distance statistique
                      prenant en compte l'écart type moyen de chaque variable.
                      <br>
                      Le niveau de simplicité permet de modifier le nombre de contrefactuelles affichées.
                      <br>
                      Vous consultez une explication "Focus Algorithme", les situations analysées sont des situations
                      fictives générées à partir des données réelles. La contrefactuelle sont généralement plus proches de la
                      demande initiale qu'avec le "Focus utilisation".
                  </p>
                  </div>
                  {% elif realism == '2' %}
                      {{ div | safe }}
                  <p>
                    <b>Aide : </b>
                      <br>
                      L'explication sous forme de contrefactuelle donne les modifications
                      minimales suffisantes pour changer la décision du système.
                      La notion de "modification minimale" fait référence à une distance statistique
                      prenant en compte l'écart type moyen de chaque variable.
                      <br>
                      Le niveau de simplicité permet de modifier le nombre de contrefactuelles affichées.
                      <br>
                      Vous consultez une explication "Focus Utilisation", vous avez la garantie que
                      les contrefactuelles présentées correspondent à des demandes
                      réelles, ce qui n'est pas le cas pour les contrefactuelles "Focus Algorithme".
                  </p>

                  {% else %}
                      !!!  INVALID REALISM should 1 or 2
                  {% endif %}
              {% else %}
                  Type d'explication inconnu
              {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
    <div class="tab-pane {% if request.user.subject.control_grp or calc_tab %}active{% endif %}" id="calc" role="tabpanel" aria-labelledby="calc-tab">
      <h4 class="card-title">Calculette</h4>
        <div class="row">
          <div class="col-8">
           {% crispy calculette_form %}
          </div>
          <div class="col-4">
          {% if calculette_decision == 1 %}
              <div class="d-flex justify-content-center">
                  <p>
                  <h6> Demande de crédit acceptée</h6>
                  </p>
              </div>
              <div class="d-flex justify-content-center">
                  <p>
                      <i class="fa fa-check-circle" style="font-size:100px; color:#00cc66;" aria-hidden="true"></i>
                  </p>
              </div>
          {% elif calculette_decision == 0 %}
              <div class="d-flex justify-content-center">
                  <p>
                  <h6> Demande de crédit refusée</h6>
                  </p>
              </div>
              <div class="d-flex justify-content-center">
                  <p>
                      <i class="fa fa-times-circle" style="font-size:100px; color:#cc0000;" aria-hidden="true"></i>
                  </p>
              </div>
          {% endif %}
          </div>
        </div>
    </div>
  </div>
</div>
</div>

<script>
  $('#tool-choice a').on('click', function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>

<br>
<br>