{% extends 'base.html' %}

{% block title %} Présentation des variables de l'algorithme {% endblock %}

{% block content %}


    <h5> Description des variables utilisées </h5>

    <p>
        La table ci-dessous liste l'ensemble des variables collectées par le
        système de décicion. Ce tableau est consultable à tout moment via un lien
        dans l'en-tête (en haut à droite).
    </p>

<table class="table table-bordered">
<thead>
  <tr>
    <th  style="width: 25%" class="col-3 text-center">Nom de la variable</th>
    <th  style="width: 16%" class="col-2 text-center">Exemple</th>
    <th  style="width: 58%" class="col-7 text-center">Description</th>
  </tr>
</thead>
<tbody>
{#  <tr>#}
{#    <td class="text-center">Montant</td>#}
{#    <td class="text-center">43394</td>#}
{#    <td>Montant du crédit demandé</td>#}
{#  </tr>#}
  <tr>
    <td class="text-center">Prix du véhicule</td>
    <td class="text-center">67147</td>
    <td>Valeur du véhicule</td>
  </tr>
  <tr>
    <td class="text-center">Pourcentage d'apport</td>
    <td class="text-center">35 %</td>
    <td>Ratio de l'apport sur le montant total du véhicule</td>
  </tr>
  <tr>
    <td class="text-center">Âge</td>
    <td class="text-center">36 ans</td>
    <td>Âge du demandeur<br></td>
  </tr>
  <tr>
    <td class="text-center">Type d'emploi</td>
    <td class="text-center">Salarié</td>
    <td>Type d'emploi du demandeur (salarié, à son compte ou non-renseigné)</td>
  </tr>
{#  <tr>#}
{#    <td class="text-center">Numéro de compte</td>#}
{#    <td class="text-center">Oui</td>#}
{#    <td>Le numéro de compte permanent du demandeur a-t-il été transmis à la société (oui/non) ?</td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td class="text-center">Carte d'identité</td>#}
{#    <td class="text-center">Non</td>#}
{#    <td>La carte d'identité du demandeur a-t-elle été fournie à la société (oui/non) ? </td>#}
{#  </tr>#}
  <tr>
    <td class="text-center">Nb crédits</td>
    <td class="text-center">6</td>
    <td>Nombre total de crédits (déjà remboursés ou en cours) au moment de la demande</td>
  </tr>
  <tr>
    <td class="text-center">Nb crédits (en cours)</td>
    <td class="text-center">3<br></td>
    <td>Nombre de crédits en cours de remboursement au moment de la demande</td>
  </tr>
  <tr>
    <td class="text-center">Nb crédits (défauts)</td>
    <td class="text-center">0</td>
    <td>Nombre de crédits en situation de défaut au moment de la demande</td>
  </tr>
  <tr>
    <td class="text-center">Total dû</td>
    <td class="text-center">25237</td>
    <td>Total des sommes dues pour d'autres crédits au moment de la demande </td>
  </tr>
  <tr>
    <td class="text-center">Mensualités</td>
    <td class="text-center">7812</td>
    <td> Total des mensualités pour les crédits en cours </td>
  </tr>
  <tr>
    <td class="text-center">Nb crédits (6 mois)</td>
    <td class="text-center">1</td>
    <td>Nombre de crédits contractés dans les 6 derniers mois par le demandeur</td>
  </tr>
  <tr>
    <td class="text-center">Nb défauts (6 mois)</td>
    <td class="text-center">0</td>
    <td>Nombre de crédits contractés dans les 6 derniers mois par le demandeur et étant en situation de défaut</td>
  </tr>
  <tr>
    <td class="text-center">Durée crédits (en cours)</td>
    <td class="text-center">8 mois</td>
    <td>Durée moyenne des crédits contractés </td>
  </tr>
  <tr>
    <td class="text-center">Durée depuis premier crédit</td>
    <td class="text-center">1 an</td>
    <td>Durée entre la date du premier crédit et la date de la demande</td>
  </tr>
  <tr>
    <td class="text-center">Nb de demandes</td>
    <td class="text-center">1</td>
    <td>Nombre de demandes antérieures pour le même crédit</td>
  </tr>
</tbody>
</table>

<br>
<br>

{% if user.subject %}
    {% include "next_step_button_ibex.html" %}
    <br>
    <br>
    {% include "next_step_button_algocate.html" %}
{% else %}
    <a href="{% url 'welcome_page' %}" class="btn btn-primary btn-block"> Commencer </a>
{% endif %}

{% endblock %}
