{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h5 id="headings">Algaudit : Devenez un contrôleur d'algorithme !  </h5>

<div class="container">

<p align="justify">
    La compréhension fine du fonctionnement des systèmes algorithmiques est
    devenue un enjeu majeur pour les autorités de protection des données
    comme la CNIL.
    L’analyse de systèmes de plus en plus complexes exige de disposer
    de nouveaux outils et de nouvelles compétences.
</p>
<p align="justify">
    Dans le cadre du partenariat CNIL-Inria, il vous est proposé de prendre part à l’expérimentation
    Algaudit. Celle-ci doit permettre de tester concrètement des outils
    d’audit. Un cas d’usage fictif mais réaliste sera exploré,
    celui de l’utilisation d’un d’algorithme pour aider à la décision d’octroi ou de refus de crédit
    à la consommation.
</p>
<p align="justify">
    En pratique, chaque participant aura l’occasion de tester sur ce même cas d’usage deux outils
    complémentaires développés par Clément Henin, dans le cadre de ses travaux de thèse : IBEX et Algocate.
    Pour différentes applications particulières de l’algorithme, les participants devront tenter de fournir
    des éléments précisant la façon dont ils comprennent le fonctionnement de l’algorithme audité, les variables
    ayant joué un rôle dans la décision, etc. et finalement si selon eux celui-ci est respectueux du RGPD.
</p>
<p align="justify">
    Pour aller plus loin : retrouvez <a href="https://linc.cnil.fr/fr/clement-henin-et-daniel-le-metayer-fournir-des-explications-du-fonctionnement-des-algorithmes">ici</a>
    l’interview de Clément Henin et Daniel Le Métayer à LINC.
</p>
<p align="justify">
    <b> Qui sommes-nous ?</b> <br>
    Ce travail est le fruit de la collaboration de Clément Henin et
    Daniel Le Métayer, respectivement doctorant et directeur de
    recherche au sein de l’équipe PRIVATICS d’Inria et de
    Félicien Vallet, ingénieur au service de l’expertise
    technologique de la CNIL.
</p>

    <a class="btn btn-primary btn-lg btn-block" href="{% url 'presentation' %}" role="button">Commencer</a>

<br>
<br>

{% if user.subject %}
      <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-lg btn-block" name="restart">
          J'efface mes données et je recommence depuis le début
        </button>
      </form>
{% endif %}

</div>
{% endblock %}


