{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h5 id="headings">Exemple d'utilisation d'IBEX ({{ request.user.ibexexample_set.count }} / 2)</h5>

<p align="justify">
    Au cours de l'expérimentation, vous serez confronté à un certain nombre d'"exercices".
    Ces exercices font référence à des décisions spécifiques qui vous seront présentées
    sous la forme des tableaux présentés précédemment.
    En plus des variables, vous aurez accès au système d'explication IBEX.
    <br>
    Vous pouvez profiter de ces deux exemples pour vous familiariser avec l'outil
    et tester les différents types d'explication.
</p>

<div class="container">

<h3>Décision</h3>

{% include "decision_box.html" %}

<h3>Explication</h3>

{% include "explanation_box.html" %}

<form method="post" action="{% url 'ibex_example' %}">
  {% csrf_token %}
  <button class="btn btn-primary btn-lg btn-block" type="submit" name="next_example">
      Continuer
  </button>
</form>

</div>
{% endblock %}


