{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <h5 id="headings"> Exercice {{ user.taskibex_set.count }} / 6 </h5>
    <p>
        Veuillez répondre aux questions situées sous le cadre d'explication.
        À la fin des exercices, vous serez soumis à un questionnaire
        final dans lequel vous devrez vous prononcer sur le caractère
        discriminant de l'algorithme, sur d'éventuelles collectes injustifiées
        ainsi que sur les suites à donner.
    </p>
</div>
<div class="container">

<h3>Décision</h3>

{% include "decision_box.html" %}

<h3>Explication</h3>

{% include "explanation_box.html" %}

<h3>Questionnaire</h3>

<div class="card" style="...">
  <div class="card-header">
    <h5 class="card-title">Votre réponse</h5>
  </div>
  <div class="card-body">
    <form method="post">
    {% csrf_token %}
    <div id='form-errors'>{{ ibex_task_form_errors }}</div>
        {{ ibex_task_form | crispy }}
        <button type="submit" class="btn btn-primary" name="ibex_task_form">Soumettre la réponse</button>
    </form>
  </div>

  </div>
</div>

{% endblock %}



