{% extends 'base.html' %}

{% block title %} Présentation du cas d'étude {% endblock %}

{% block content %}


<div class="card">
<div class="card-body">
<h5>Mise en situation</h5>

<p align="justify">
    La société « Mon prêt auto » spécialisée dans l’octroi de crédit automobile a fait l’objet de
    plusieurs plaintes et signalements. Vous avez été mandaté pour mener une investigation.
</p>
<p align="justify">
    Le 06 janvier 2023, vous vous êtes rendu dans les locaux de la société
    et avez entendu différents employés de la société « Mon prêt auto »,
    notamment son dirigeant et son responsable technique.
    À l’issue du contrôle, différentes pièces ont été saisies dont l’algorithme
    sur lequel les commerciaux de la société se basent
    pour octroyer ou non un crédit et la base des clients ayant sollicité un
    crédit lors des dernières années (que ce crédit ait été accordé ou non).
</p>
</div>
</div>
<br>
<br>

<h5>Déroulement de l'expérimentation</h5>

<p align="justify">
    Au cours de l'expérimentation, vous serez confrontés à des décisions prises par l'algorithme de la
    société fictive « Mon prêt auto ». L'algorithme utilisé dans le cadre de cette expérimentation est basé sur
    l'apprentissage à partir d'un jeu de données réelles du secteur du crédit automobile.
    La liste et la description des variables utilisées par l'algorithme sont données juste après et
    sont consultables à tout moment via le lien de tête de page (en haut à droite).
    Après une phase de prise en main de l'algorithme et des outils, vous devrez répondre à des questions
    concernant des décisions particulières de l'algorithme.
</p>

<p align="justify">
    Le but de l'expérimentation est de tester deux outils : IBEX et Algocate.
    IBEX est un outil d'explication d'algorithme, son but est de fournir
    des informations sur le fonctionnement du système de crédit.
    Il donne notamment des informations sur les variables qui sont
    utilisées par l'algorithme pour prendre la décision.
    Algocate est un outil de justification d'algorithme, son but de confronter
    les décisions du système à certains critères qui sont censés
    justifier les décisions de la société de crédit.
    Plus de détails seront fournis au cours des expérimentations sur
    le fonctionnement de chaque outil.
</p>

<p align="justify">

    Les expérimentations se déroulent selon les étapes suivantes :
</p>

<p class="font-weight-bold">Présentation de l'algorithme « Mon prêt auto »</p>
<ol>
    <li> Présentation des variables collectées et traitées par l’algorithme </li>
    <li> Exemples de cinq décisions (sans explication) </li>
    <li> Tableau récapitulatif des décisions </li>
    <li> Choix de l'outil que vous souhaitez tester (vous pouvez aussi faire les deux) </li>
</ol>

<p class="font-weight-bold">IBEX</p>
<ol>
    <li> Présentation du fonctionnement du système d'explication IBEX </li>
    <li> Deux exemples d'utilisation d'IBEX </li>
    <li> Réalisation de six exercices avec les explications </li>
    <li> Questionnaire final </li>
</ol>

    <p class="font-weight-bold">OU</p>

<p class="font-weight-bold">Algocate</p>
<ol>
    <li> Présentation du fonctionnement du système de justification Algocate </li>
    <li> Deux exemples d'utilisation d'Algocate </li>
    <li> Réalisation de six exercices avec les justifications </li>
    <li> Questionnaire final </li>
</ol>

<h5>Aide</h5>

<p align="justify">
    Des pages d’aide concernant la mise en situation, les variables de l’algorithme et
    le fonctionnement des outils IBEX et Algocate peuvent être consultées
    à tout moment en cliquant sur les liens du menu en tête de page
    (en haut à droite). L'un des liens vous permettra également de changer d'outil si
    vous le souhaitez.
</p>

<br>
<br>

<a class="btn btn-lg btn-primary" href="{% url 'consent' %}"> Continuer </a>

{% endblock %}
