{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h1 id="headings"> Merci ! </h1>

<p>
  Merci d'avoir pris le temps de tester nos outils.
</p>

    <br>
    <br>

    <a class="btn btn-primary btn-lg" href="{% url 'welcome_page' %}">
        Recommencer depuis le début
    </a>

    <br>
    <br>

    <form method="post">
    {% csrf_token %}
      <div id='form-errors'>{{ case_form_errors }}</div>
      {% if user.email == "no@mail.com" %}
        <p>
          Si vous souhaitez être tenu au courant de nos recherches, merci de nous laisser votre adresse email.
        </p>
        <div class="form-row">
          <div class="form-group">
            {{ form.mail|as_crispy_field }}
          </div>
        </div>
      {% endif %}
      {% if total_comment == 0 %}
        <p>
          Si vous le souhaitez, nous vous invitons à laisser votre avis sur cette plateforme de test.
        </p>

        <div class="form-row">
          <div class="form-group">
            {{ form.comment|as_crispy_field }}
          </div>
        </div>
      {% endif %}

      {% if user.email == "no@mail.com" or total_comment == 0 %}
        <button type="submit" class="btn btn-primary">Envoyer</button>
      {% endif %}
    </form>

{% endblock %}
