{% load static %}

{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %} Expérimentation Audit algorithmique {% endblock %} </title>
  <!-- styles -->
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static "css/style.v3.css" %}">
    <script src="{% static 'js/bokeh-2.2.3.min.js' %}"></script>
    <script src="{% static 'js/bokeh-widgets-2.2.3.min.js' %}"></script>
    <script src="{% static 'js/bokeh-tables-2.2.3.min.js' %}"></script>
      {{ script | safe }}
</head>


<body>

<!-- =================== Header =================== -->


    <div class="header" style="background-image: url('{% static 'img/header_img.png' %}');">
      <div class="container">
      <div class="row">
        <div class="col">
          <a class="logo" href="{% url 'welcome_page' %}">
            <h1 class="d-inline-flex" style="margin-left:70px; font-size: 40px; background-color: #2e2e2e;"> Audit algorithmique </h1>
          </a>
        </div>
        <div class="col p-0">
          <button class="navbar-toggler navbar-dark bg-dark float-right" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="pos-f-t">
            <div class="collapse p-2" id="navbarToggleExternalContent" style="background-color:#2e2e2e;">
               <p>Consulter les pages d'aide: </p>
                <div class="container">
                <div class="row p-2 justify-content-around" >
                  <div class="col">
                    <a target="_blank" rel="noopener noreferrer" href="{% url 'presentation' %}" class="btn btn-primary">Mise en situation</a>
                  </div>
                  <div class="col">
                    <a target="_blank" rel="noopener noreferrer" href="{% url 'features_presentation' %}" class="btn btn-primary">Description des variables</a>
                  </div>
                </div>
                <div class="row p-2 justify-content-around" >
                  <div class="col">
                    <a target="_blank" rel="noopener noreferrer" href="{% url 'ibex_presentation' %}" class="btn btn-primary">Aide IBEX</a>
                  </div>
                  <div class="col">
                    <a target="_blank" rel="noopener noreferrer" href="{% url 'algocate_presentation' %}" class="btn btn-primary">Aide Algocate</a>
                  </div>
                </div>
                <div class="row p-2 justify-content-around" >
                  <div class="col">
                    <a target="_blank" rel="noopener noreferrer" href="{% url 'consent' %}" class="btn btn-primary">Mentions traitement</a>
                  </div>
                  <div class="col">
                    <a target="_blank" rel="noopener noreferrer" href="{% url 'choose_tool' %}" class="btn btn-primary">Choix de l'outil</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>


<!-- =================== Message =================== -->

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<!-- =================== Content =================== -->
<div class="container maincontainer" style="min-height: 900px;">
    {% block content %}{% endblock %}
</div>

<!-- =================== Footer =================== -->
<div class="footer">
    <div class="wrapper container">
  <div class="row">
    <div class="col-2">
      <img src="{% static 'img/cnil_logo.png' %}" class="img mx-auto" alt="Responsive image" style="width: 100%;">
    </div>
    <div class="col-8">
      <p class="small">Clément Henin (clement.henin@inria.fr) -- Inria PRIVATICS &bull; Félicien Vallet (fvallet@cnil.fr) -- CNIL </p>
      <p class="small">Ce site utilise des cookies pour les besoins de son fonctionnement interne</p>
      <p class="small">
          {% if user.is_authenticated %}
            Votre numéro personnel est le "{{ user.username }}".
            Il vous appartient de le conserver afin d’exercer à tout moment vos
              droits auprès du délégué à la protection des données d’Inria.
          {% endif %}
      </p>
      <p class="small">
        Informations légales : <br>
        Inria Domaine de Voluceau Rocquencourt - B.P. 105 78153 Le Chesnay Cedex - France Téléphone: +33 1 39 63 55 11<br>
        Directeur de publication : Bruno Sportisse, Président-directeur général d'Inria<br>
        Hébergeur : Direction des systèmes d'information d'Inria
      </p>
    </div>
    <div class="col-2">
        <img src="{% static 'img/inria_logo.png' %}" class="img-fluid mx-auto d-block" alt="Responsive image">
    </div>
  </div>
    </div>
</div>

</body>

</html>
