{% extends "base.html" %}

{% block title %}Coming soon...{% endblock %}

{% block content %}
<div id="lockdown">
  <h2>L'accès à ce site est protégé par un mot de passe</h2>

  <p>Merci de renseigner le mot de passe que vous avez reçu dans l'email d'invitation. </p>

  {% if form %}

  <form action="" method="post">
    {{ form.as_p }}
    <p><input type="submit" value="Entrer"></p>
  </form>

  {% endif %}

</div>
{% endblock %}